apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: koney
    app.kubernetes.io/managed-by: kustomize
  # NOTE: It is important that the name includes the term 'webhook', otherwise
  # the helm/v2-alpha plugin that we are using the auto-generate charts from
  # these Kustomize templates will not pick it up as a webhook service.
  # (https://github.com/kubernetes-sigs/kubebuilder/blob/release-4.10/pkg/plugins/optional/helm/v2alpha/scaffolds/internal/kustomize/resource_organizer.go#L164)
  name: alert-forwarder-webhook
  namespace: system
spec:
  ports:
  - name: http
    port: 8000
    protocol: TCP
    targetPort: http
  selector:
    control-plane: controller-manager
