apiVersion: research.dynatrace.com/v1alpha1
kind: DeceptionPolicy
metadata:
  name: deceptionpolicy-aws-credentials
spec:
  strictValidation: true
  mutateExisting: true

  traps:
  - filesystemHoneytoken:
      filePath: /run/secrets/.aws/credentials
      readOnly: true
      fileContent: |
        [default]
        aws_access_key_id = FZWGQYZRVMVQKCWXWJ
        aws_secret_access_key = ToDNS2V5wkEuPmfocmNDHiVBspaywo
        region = us-east-1

        [staging]
        aws_access_key_id = BPDHLBUJTYMKRVBMNB
        aws_secret_access_key = Jf4mTvTG5zbLksf464nYwEVyDkbjdp
        region = eu-central-1

        [prod]
        aws_access_key_id = GQRMYWAXADTVUPFMZJ
        aws_secret_access_key = gUFQzyJWJSkMkWpay4Umxzg4oFkkju
        region = us-east-1

    match:
      any:
      - resources:
          containerSelector: "*"
          selector:
            matchLabels:
              demo.koney/honeytoken: "true"

    decoyDeployment:
      strategy: containerExec
    captorDeployment:
      strategy: tetragon
