name: Hooks

on:
  pull_request:
  push:


jobs:
  test:
    name: Run pre-commit hooks
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Cache pre-commit environments
      uses: actions/cache@v5
      with:
        path: ~/.cache/pre-commit
        key: ${{ runner.os }}-pre-commit-${{ hashFiles('**/.pre-commit-config.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pre-commit-

    - name: Install pre-commit hooks
      run: python -m pip install --upgrade pre-commit

    - name: Run pre-commit hooks
      run: pre-commit run -v --all-files --show-diff-on-failure
