name: Unit Tests

on:
  pull_request:
  push:


jobs:
  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Run tests
      run: |
        go mod tidy
        make test
